*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(211, 157, 8, 0.869),rgba(0,0,0,0.40));
    background-position: center;
    background-size: center;
}
.navbar{
    width: 90%;
    padding: 30px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 160px;
    margin-top: -10px;
    cursor: pointer;
    text-align: center;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 20px;
}
.navbar ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    padding: 15px;
 border-radius: 25px;
}
li a:hover{
    background: white;
    transition: 0.6s;
}
.navbar a:hover{
    color: rgb(5, 85, 5);
}
.content{
    width: 100%;
    position: absolute;
    color: white;
    top: 45%;
    transform: translateY(-50%);
    text-align: center;
}
.content h1{
    margin-top: 80px;
    font-size: 70px;
    font-weight: 800;
    color: rgb(188, 186, 179);
}
h2{
    color:  rgb(206, 210, 208);
    font-size: 35px;
}
button{
    width: 200px;
    padding: 15px;
    margin: 20px 5px;
    text-align: center;
    border-radius: 25px;
    color: rgb(61, 4, 141);
    border: 2px;
    font-size: 20px;
    cursor: pointer;
    font-weight: 600;
}
button:hover{
    background: rgb(226, 226, 226);
    transition: 0.5s;
}
button:hover{
    color: white;
}
.banner video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
@media(min-aspect-ratio: 16/9){
    .banner video{
        width: 100%;
        height: auto;
    }
}
.image-top{
   font-weight: bold;
  width: 20px;
  font-size: 43px;
}
.good{
   font-weight: bold;
   color:rgb(227, 227, 226);
   font-size: 18px;
   font-weight: bold;
   text-align: center;
}
.sh{
 
   border-radius: 0rem;
}
.claer{
    border-radius: 0rem;
    color:rgb(230, 60, 13);
    font-size: 30px;
    font-weight: bold;

}

